@font-face {
    font-family: KadwaBold;
    src: url(./Fonts/Kadwa-Bold.ttf);
}

@font-face {
    font-family: KadwaRegular;
    src: url(./Fonts/Kadwa-Regular.ttf);
}

* {
    color: rgb(230, 230, 230);
}

.Bckbuttons {
    font-family: KadwaRegular;
}

.RLogo {
    font-family: KadwaBold;
}

.Aboutus {
    font-family: KadwaBold;
}

.Abouttext {
    font-family: KadwaRegular;
}

body {
    background-color: rgb(18, 18, 18);
}

.Logo_vk_button img {
    width: 75px;
}

.Logo_mail_button img {
    width: 75px;
}

.Logo_telegram_button img {
    width: 75px;
}