@font-face {
    font-family: KadwaBold;
    src: url(./Fonts/Kadwa-Bold.ttf);
}

@font-face {
    font-family: KadwaRegular;
    src: url(./Fonts/Kadwa-Regular.ttf);
}

* {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.Bckbuttons {
    font-family: KadwaRegular;
}

.Beats_H {
    font-family: KadwaBold;
}

.RLogo {
    font-family: KadwaBold;
}

.Aboutus {
    font-size: 30px;
    text-align: center;
    font-family: KadwaBold;
}

.Abouttext {
    font-family: KadwaRegular;
}

body {
    background-color: rgb(18, 18, 18);
}

.Logo_vk_button img {
    width: 75px;
}

.Logo_mail_button img {
    width: 75px;
}

.Logo_telegram_button img {
    width: 75px;
}

.Contact_header h1 {
    font-family: KadwaBold;
}

.Beats_header {
    font-family: KadwaBold;
}

.Musics {
    font-family: KadwaRegular;
}